<div style="background-color:cadetblue">
  <div>
    <h2>  Employee Details
    </h2><br>
    <ng-container *ngIf="(listOfColumnsToDisplay | async) as columnsList">
      <table>
        <tr>
          <th *ngFor="let column of columnsList">{{column}}</th>
        </tr>
        <tr *ngFor="let employeeData of employeeDataList">
          <td *ngFor="let header of columnsList">
            {{employeeData[employeeColumnDetails[header]]}}
          </td>
        </tr>
      </table>
  
    </ng-container>
  
  </div>
  <br><br><br>
  <div>
    <button (click)="openDialog()">Selection Mode</button>
  
  </div>
  
</div>
